 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background: #4CAF50; /* Verde */
            color: white;
            padding: 10px;
            text-align: center;
            position: relative;
        }
        .menu-icon {
            position: absolute;
            left: 10px;
            top: 10px;
            background: none;
            border: none;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
        .perfil-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        table {
            border-collapse: collapse;
            width: 80%;
            max-width: 600px;
            margin: 20px auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }
        th, td {
            padding: 12px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        .form-container {
            margin-bottom: 20px;
            text-align: center;
        }
        input {
            padding: 8px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        footer {
            background: #4CAF50;
            color: #fff;
            padding: 12px 18px;
            text-align: center;
        }
   

